h1{
    color:blueviolet;
    text-align: center;
}
p{
    text-align:center;
    color:blueviolet
}
.menu {
    background: #8a2be2;
    padding: 10px;
}

.item {
    color: white;
    font-weight: bold;
    margin: 125px;
    padding: 5px 10px;
    cursor: pointer;
}

.item:hover {
    color: rgb(18, 18, 16);
}
.wrapper {
    padding: 30px;
    display: flex;
    gap: 30px;
}


.content {
    background: white;
    padding: 20px;
    width: 70%;
}


.sidebar {
    background: white;
    padding: 20px;
    width: 30%;
}


.image-box {
    background: #eec4ee;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    overflow:hidden
}
.main-bg {
    background: #e6d6f3;   /* hồng nhạt */
    min-height: 100vh;     /* kéo dài xuống hết web */
    padding-top: 30px;
}
.header {
    background: white;
}

.menu {
    background: #5b1485; /* tím menu */
}

.container {
    background: white;
    width: 1100px;
    margin: 30px auto;
    padding: 20px;
}
body {
    margin: 0;
    background: #e6d6f3; /* hồng nhạt */
}
.top-wrapper {
    text-align: center;
    padding: 30px 0;
    background: white;      /* đổi màu nếu muốn */
}

.top-wrapper h1 {
    color: #6a0dad;
    margin: 0;
}

.top-wrapper p {
    margin-top: 10px;
    color: #6a0dad;
}
.top-wrapper {
    border: 10px solid #d6c1e9;
    border-radius: 0px;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ảnh không méo */
}