fieldset {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #82f5d6; 
    font-family: sans-serif;
    width: 600px;        /* chỉnh nhỏ – bạn có thể đổi 500px, 700px */
    margin: 20px auto;
  }
  th{
    border: 1px solid rgb(13, 14, 7);   
    border-collapse: collapse;
    padding: 11px;
    text-align: center;
    background-color: rgb(198, 221, 241);
  }
  table{
     margin: 0 auto;
    border-collapse: collapse;
  }
 td{
    border: 1px solid rgb(13, 14, 7);   
    border-collapse: collapse;
    padding: 11px;
    text-align: center;
    background-color: rgb(198, 221, 241);
 }
 table img{
    width: 150px;   
    height: auto;
 }